@import "../common.scss";


@mixin button-color($color) {
    background: $color;
    // &:hover {
    //   background: lighten($color, 10%);
    // }
    // &:active {
    //   background: darken($color, 10%);
    // }
  }

.Button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;

  color: white;
  font-family: "NanumSquare";
  font-weight: bold;
  outline: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  
  font-size: 20px;
  background: $blue; // 주석 사용

  &.washBtn {
    width: 255px;
    height: 255px;
    font-size: 32px;
  }
  &.quickBtn {
    width: 155px;
    height: 255px;
    font-size: 20px;
  }
  &.startBtn {
    width: 155px;
    height: 195px;
    font-size: 20px;
  }
  &.cancelBtn {
    width: 155px;
    height: 50px;
    font-size: 20px;
  }

  &.small {
    width: 225px;
    height: 40px;
    font-size: 20px;
  }

  &.modal {
    width: 185px;
    height: 40px;
    font-size: 20px;
  }
  &.side {
    width: 60px;
    height: 60px
  }
  &.blue {
    @include button-color($blue);
    color: $white;
  }

  &.gray {
    @include button-color($gray-background);
    color: $gray-text;
  }
  &.none {
    @include button-color(#00000000);
    color: #00000000;
  }

  &.disable-prop{
    opacity: 30%;
  }
  &.invisible-prop{
    opacity: 0%;
  }
}
